
{% extends "staff/base.html" %} {% load static %} {% block head %} {% endblock %}

 {% block content %}

 
<table id="staff">
<tr>
    <th>Last Name </th>
    <th>First Name</th>
    <th>Department</th>
    <th>Job title</th>
    <th>Start Date</th>
    <th>End Date</th>
   
</tr>
 {% for staff in object_list|dictsort:"last_name" %}
 
<tr>
    <td>{{staff.last_name}}</td>
    <td>{{staff.first_name}}</td>
    <td>{{staff.department}}</td>
    <td>{{staff.job_title}}</td>
    <td>{{staff.start_date}}</td>
    {%if staff.end_date == None%}
      <td> </td>
    {% else %}
      <td>{{staff.end_date}}</td>
    {%endif%}

    <td><a href="{%url 'update' staff.id%}"><button>Edit</button></a></td>
    <td><a href="{%url 'delete1' staff.id %}"><button>Delete</button></a></td>
   

 
</tr>
{%endfor%}
</table>


{% endblock %}