
 <!DOCTYPE html>
<html>
 


 {% extends "staff/base.html" %}{% load static %} {% block head %} {% endblock %}

 {% block content %}

<script> 

 function filterSearch() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("last_names");
  filter = input.value.toUpperCase();
  table = document.getElementById("staff_results");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td");
    var flag = false;
    for (var j =0; j <td.length; j++){
      var tds = td[j];
      if (tds.innerHTML.toUpperCase().indexOf(filter) > -1) {
        flag = true;
      } 
    }
    if(flag){
        tr[i].style.display = "";
    }
    else {
        tr[i].style.display = "none";
    }
  }
}

</script>


 <h1> Results</h1>
 

<input type="text" id="last_names" onkeyup="filterSearch()" placeholder="Search by name, department, job title..." >



<table id="staff_results">
<thead>
<tr>
    <th>Last Name </th>
    <th>First Name</th>
    <th>Department</th>
    <th>Job title</th>
    <th>Start Date</th>
    <th>End Date</th>
   
</tr>
</thead>
<tbody>
{% for staff in object_list %}
 
<tr>
    <td>{{staff.last_name}}</td>
    <td>{{staff.first_name}}</td>
    <td>{{staff.department}}</td>
    <td>{{staff.job_title}}</td>
    <td>{{staff.start_date}}</td>
    {%if staff.end_date == None%}
      <td> </td>
    {% else %}
      <td>{{staff.end_date}}</td>
    {%endif%}

    <td><a href="{%url 'update' staff.id%}"><button>Edit</button></a></td>
    <td><a href="{%url 'delete' staff.id %}"><button>Delete</button></a></td>
   
 
</tr>
{%endfor%}
<tbody>
</table>
{% endblock %}

<script>




</script>




 
 </html>
