body{
    background-color: #E8E8E8;
    font-family: 'Source Serif 4', sans-serif;
}

.title{
    text-align: center;  
}
 
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
 